---
title: Sobre OpenDataBio
linkTitle: Sobre
menu:
  main:
    weight: 10

---


{{< blocks/cover title="Sobre OpenDataBio" image_anchor="bottom" height="min" >}}

<p class="lead mt-1">Software de código aberto para facilitar o estudo de biodiversidade!
</p>
{{< blocks/link-down color="warning" >}}

{{< /blocks/cover >}}
{{< blocks/section color="ligth" >}}
<div class="col-12 text-dark" style='font-size: 15pt;'>
<p class="pb-2">O projeto OpenDataBio nasceu da necessidade prática de organizar dados usados em estudos de biodiversidade na Amazônia e Mata Atlântica:</p>
<ul>
<li class="pb-2">Organizar, curar e interligar os dados coletados pelo Projeto Dinâmica Biológica de Fragmentos Florestais (PDBFF) do INPA desde o início dos anos 80, bem como nas parcelas do ForestGeo no Brasil (Ilha do Cardoso e Manaus)</li>
<li class="pb-2">Integrar dados no nível de <strong> indivíduo </strong> (organismo) para estudos de taxonomia integrativa, partindo da premissa de que as definições de espécies são instáveis (na Amazônia) ​​e requerem o compartilhamento dos dados brutos ​​para definir e descrever as espécies, e alimentar repositórios para IA</li>
<li class = "pb-2">Ter flexibilidade no armazenamento de atributos, mas ao mesmo tempo ser capaz de padronizar adequadamente os dados e de interligalos minimizando redundâncias</li>
<li> Ser capaz de curar e gerenciar dados de forma contínua, acompanhando o histórico de alterações, e mais facilmente compartilhar dados, diretamente em contextos locais (servidor na Instituição, laboratório ou grupo de pesquisa) e também para facilitar a exportação de versões estáticas dos dados para os repositórios públicos</li>
</ul>
</div>
{{< /blocks/section >}}

{{< blocks/section color="dark" >}}


{{% blocks/feature icon="far fa-id-badge" title="Administrador do projeto" %}}
<br>
<a class="btn btn-lg btn-primary  mr-3 mb-4 text-dark" href="https://gitlab.com/betovicentini" target="_blank" >
	Beto Vicentini @ <i class="fab fa-gitlab ml-2 "></i> </a>
</a>
{{% /blocks/feature %}}
{{% blocks/feature icon="far fa-id-badge" title="Contribuições" %}}
<br>
<a class="btn btn-lg btn-primary  mr-3 mb-4 text-dark" href="https://gitlab.com/opendatabio/opendatabio/-/graphs/main" target="_blank" >
	Equipe de desenvolvedores @ <i class="fab fa-github ml-2 "></i> </a>
</a>
{{% /blocks/feature %}}
{{% blocks/feature icon=" " title=" " %}}

{{% /blocks/feature %}}
{{< /blocks/section >}}
