---
title: About OpenDataBio
linkTitle: About
menu:
  main:
    weight: 10

---


{{< blocks/cover title="About OpenDataBio" image_anchor="bottom" height="min" >}}

<p class="lead mt-1">Opensource software to facilitate the study of biodiversity!
</p>
{{< blocks/link-down color="warning" >}}

{{< /blocks/cover >}}
{{< blocks/section color="ligth" >}}
<div class="col-12 text-dark" style='font-size: 15pt;'>
<p class="pb-2">The OpenDataBio project was born from the pratical need to organize data used in biodiversity studies in the Amazon e Atlantic Forest:</p>
<ul>
<li class="pb-2">Organize, curate and interligate the data collected by the Dynamics of Forest Fragments Project (PDBFF) of INPA since the early 80's, as well as  at the Brazilian ForestGeo Plots (Ilha do Cardoso and Manaus)</li>
<li class="pb-2">Integrate data at the <strong>individual</strong> (organism) level for studies of Integrative Taxonomy, stemming for the premise that species classifications are unstable (in the Amazon, in particular) and require the sharing of the raw individual-based data used to define and describe species</li>
<li class="pb-2">Have flexibility in data attributes, but at the same time be able to properly standardize data and document metadata</li>
<li >Be able to curate and manage data in a continuous way, tracking the history of data changes, and more easily share data, directly from our Institution server and also to facilitate exports to major public repositories.</li>
</ul>
</div>
{{< /blocks/section >}}

{{< blocks/section color="dark" >}}


{{% blocks/feature icon="far fa-id-badge" title="Project Maintainer" %}}
<br>
<a class="btn btn-lg btn-primary  mr-3 mb-4 text-dark" href="https://gitlab.com/betovicentini" target="_blank" >
	Beto Vicentini @ <i class="fab fa-gitlab ml-2 "></i> </a>
</a>
{{% /blocks/feature %}}
{{% blocks/feature icon="far fa-id-badge" title="Development Team" %}}
<br>
<a class="btn btn-lg btn-primary  mr-3 mb-4 text-dark" href="https://gitlab.com/opendatabio/opendatabio/-/graphs/main" target="_blank" >
	Development Team @ <i class="fab fa-gitlab ml-2 "></i> </a>
</a>
{{% /blocks/feature %}}
{{% blocks/feature icon=" " title=" " %}}

{{% /blocks/feature %}}
{{< /blocks/section >}}
