---
title: Community
menu:
  main:
    weight: 40
---

<a class="td-offset-anchor"></a>
<section class="row td-box td-box--1 position-relative td-box--gradient td-box--height-auto">
	<div class="container text-center td-arrow-down">
		<span class="h3 mb-0">
<h1>Join the OpenDataBio community</h1>
<p>OpenDataBio is an open source project that anyone in the community can use, improve, and enjoy. Check how you may help!
</span>
	</div>
</section>
<div class="td-content">

{{< blocks/section >}}
{{% blocks/feature icon=" " %}}
{{% /blocks/feature %}}
{{% blocks/feature icon="fas fa-hands-helping ml-2" title="Help development!" %}}
<br>
<a class="btn btn-lg btn-warning mr-3 mb-4 text-dark" href="/docs/contribution-guidelines" target="_blank" >
<i class="fab fa-gitlab ml-2 "></i> Contribution guidelines</a>
{{% /blocks/feature %}}
{{% blocks/feature  icon=" " %}}
{{% /blocks/feature %}}

{{< /blocks/section >}}

</div>
