+++
title = "OpenDataBio Docs"
linkTitle = "OpenDataBio Docs"

+++

{{< blocks/cover title="Welcome to OpenDataBio" image_anchor="top" height="100px" color="LightYellow" >}}
<div class="mx-auto">
	<p class="lead mt-1">An opensource software to organize and serve biological data
Biodiversity and Ecology</p>
	<div style="align-items: center; display: flex; justify-content: center;">
	 <div style='padding: 10px;'>
		 <i class="fab fa-pagelines fa-2x"></i>&nbsp;
		 <i class="fas fa-leaf fa-2x"></i><br>
		 <i class="fas fa-frog fa-2x"></i>&nbsp;
		 <i class="fas fa-spider fa-2x"></i><br>
		 <i class="fas fa-fish fa-2x"></i>
	 </div>
	 <div style="align-items: center; display: flex; justify-content: center; padding: 10px;" >
		 <i class="fas fa-chevron-right"></i>
		 <i class="fas fa-chevron-right"></i>
	 </div>
	 <div style="align-items: center; display: flex; justify-content: center; padding: 10px;">
		<i class="fas fa-database fa-4x"></i>
	</div>
	<div style="align-items: center; display: flex; justify-content: center; padding: 10px;">
		<i class="fas fa-chevron-right"></i>
		<i class="fas fa-chevron-right"></i>
	</div>
	 <div style="align-items: center; display: flex; justify-content: center; padding: 10px;">
		<i class="fas fa-users fa-4x"></i>
	 </div>
 </div>
	<br>
	{{< blocks/link-down color="warning" >}}
</div>
{{< /blocks/cover >}}


{{% blocks/lead color="white" %}}
The OpenDataBio Project has two products: the **OpenDataBio database** to store and share data over the internet or within a local network, and the **OpenDataBio R-package**, a client to the database [REST-API](/docs/api).

<a class="btn btn-lg btn-warning mr-3 mb-4 text-dark" href="{{< relref "/docs/overview" >}}">
	Learn more&nbsp;&nbsp;
	<i class="fas fa-hand-point-left"></i>
</a>
{{% /blocks/lead %}}
{{< blocks/section color="dark" >}}
{{% blocks/feature icon="fa fa-download ml-2" title="OpenDataBio Data-software" %}}
<br>
<a class="btn btn-lg btn-success mr-3 mb-4 text-dark" href="https://gitlab.com/opendatabio/opendatabio" target="_blank" >
<i class="fab fa-gitlab ml-2 "></i>  Get on GitLab</a>
{{% /blocks/feature %}}

{{% blocks/feature icon="fas fa-registered" title="OpenDataBio R-Package" %}}
<br>
<a class="btn btn-lg btn-primary  mr-3 mb-4 text-dark" href="https://gitlab.com/opendatabio/opendatabio-r" target="_blank" >
	<i class="fab fa-gitlab ml-2 "></i>  Check on GitLab</a>
</a>
{{% /blocks/feature %}}


{{% blocks/feature icon="fab fa-gitlab" title="Contributions welcome!" url="" %}}
New developers are welcome!
<br>
[How to contribute](/docs/contribution-guidelines)?
{{% /blocks/feature %}}


{{< /blocks/section >}}
