---
title: Comunidade
menu:
  main:
    weight: 40
---

<a class="td-offset-anchor"></a>
<section class="row td-box td-box--1 position-relative td-box--gradient td-box--height-auto">
	<div class="container text-center td-arrow-down">
		<span class="h3 mb-0">
<h1> Junte-se à comunidade OpenDataBio </h1>
<p> OpenDataBio é um projeto de código aberto que qualquer pessoa da comunidade pode usar, melhorar e desfrutar. Veja como você pode ajudar!
</span>
	</div>
</section>
<div class="td-content">

{{< blocks/section >}}
{{% blocks/feature icon=" " %}}
{{% /blocks/feature %}}
{{% blocks/feature icon="fas fa-hands-helping ml-2" title="Ajude no desenvolvimento" %}}
<br>
<a class="btn btn-lg btn-warning mr-3 mb-4 text-dark" href="/docs/contribution-guidelines" target="_blank" >
<i class="fab fa-gitlab ml-2 "></i> Diretrizes para contribuir</a>
{{% /blocks/feature %}}
{{% blocks/feature  icon=" " %}}
{{% /blocks/feature %}}

{{< /blocks/section >}}

</div>
