+++
title = "OpenDataBio Docs"
linkTitle = "OpenDataBio Docs"

+++

{{< blocks/cover title="Bem vindo ao OpenDataBio" image_anchor="top" height="100px" color="LightYellow" >}}
<div class="mx-auto">
	<p class="lead mt-1">Software de código aberto para organizar, manejar e compartilhar dados biológicos.
Biodiversidade e Ecologia!</p>
	<div style="align-items: center; display: flex; justify-content: center;">
	 <div style='padding: 10px;'>
		 <i class="fab fa-pagelines fa-2x"></i>&nbsp;
		 <i class="fas fa-leaf fa-2x"></i><br>
		 <i class="fas fa-frog fa-2x"></i>&nbsp;
		 <i class="fas fa-spider fa-2x"></i><br>
		 <i class="fas fa-fish fa-2x"></i>
	 </div>
	 <div style="align-items: center; display: flex; justify-content: center; padding: 10px;" >
		 <i class="fas fa-chevron-right"></i>
		 <i class="fas fa-chevron-right"></i>
	 </div>
	 <div style="align-items: center; display: flex; justify-content: center; padding: 10px;">
		<i class="fas fa-database fa-4x"></i>
	</div>
	<div style="align-items: center; display: flex; justify-content: center; padding: 10px;">
		<i class="fas fa-chevron-right"></i>
		<i class="fas fa-chevron-right"></i>
	</div>
	 <div style="align-items: center; display: flex; justify-content: center; padding: 10px;">
		<i class="fas fa-users fa-4x"></i>
	 </div>
 </div>
	<br>
	{{< blocks/link-down color="warning" >}}
</div>
{{< /blocks/cover >}}


{{% blocks/lead color="white" %}}
O Projeto OpenDataBio possui dois produtos: o **banco de dados OpenDataBio** para armazenar e compartilhar dados pela internet ou em uma rede local e o **OpenDataBio R-package**, um cliente para acessar o banco de dados programaticamente através da [REST-API](/docs/api).

<a class="btn btn-lg btn-warning mr-3 mb-4 text-dark" href="{{< relref "/docs/overview" >}}">
	Ler mais&nbsp;&nbsp;
	<i class="fas fa-hand-point-left"></i>
</a>
{{% /blocks/lead %}}
{{< blocks/section color="dark" >}}
{{% blocks/feature icon="fa fa-download ml-2" title="OpenDataBio Software" %}}
<br>
<a class="btn btn-lg btn-success mr-3 mb-4 text-dark" href="https://gitlab.com/opendatabio/opendatabio" target="_blank" >
<i class="fab fa-gitlab ml-2 "></i> Baixar do GitLab</a>
{{% /blocks/feature %}}

{{% blocks/feature icon="fas fa-registered" title="OpenDataBio R-Package" %}}
<br>
<a class="btn btn-lg btn-primary  mr-3 mb-4 text-dark" href="https://gitlab.com/opendatabio/opendatabio-r" target="_blank" >
	<i class="fab fa-gitlab ml-2 "></i> Ver no GitLab</a>
</a>
{{% /blocks/feature %}}


{{% blocks/feature icon="fab fa-gitlab" title="Contribuições bem vindas!" url="" %}}
Precisamos de ajuda!
<br>
[Como contribuir](/docs/contribution-guidelines)?
{{% /blocks/feature %}}


{{< /blocks/section >}}
